.header {
    background: #1e1f20;
    padding: 15px 0;
    position: relative;
}

.menu {
    text-align: center;
    margin: 70px;
    border: 1px solid #fff;
    color: #fff;
}

div.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    width: 100%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}