* {
    margin: 0;
    padding: 0;
}


.header {
    background: #1e1f20;
    padding: 15px 0;
    position: relative;
}

.menu {
    text-align: center;
    margin: 70px;
    border: 1px solid #fff;
    color: #fff;
}

div.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    width: auto;
    margin: 5px;
    border: #1e1f20;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}